.history
.ipynb_checkpoints/
__pycache__
.DS_Store
models/__pycache__/
*.xlsx
.idea/**
.vscode/
*.zip
*.pptx
*.pdf
*.csv
/data/*
/outputs/*
*/*.ipynb_checkpoints
venv/**
secrets/
.env
.mypy_cache
**/*.swp
los_output.csv
.terraform
.terraform.lock.hcl
location-pr.out
location.out